.friendsList {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    transition: .1s linear;
}
.friend:hover {
    background-color: #85ffff;
    cursor: pointer;
}
.friend_avatar img {
    width: 50px;
}
.friend_name {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}